<!DOCTYPE html>
<html lang="en">
   <head>
      {% block title %}
      <title>AD Concilio</title>
      {% endblock %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <!-- Facebook and Twitter integration -->
      <meta property="og:title" content=""/>
      <meta property="og:image" content=""/>
      <meta property="og:url" content=""/>
      <meta property="og:site_name" content=""/>
      <meta property="og:description" content=""/>
      <meta name="twitter:title" content="" />
      <meta name="twitter:image" content="" />
      <meta name="twitter:url" content="" />
      <meta name="twitter:card" content="" />
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" rel="stylesheet">
      <!-- Add additional CSS in static file -->
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <!-- Animate.css -->
      <link rel="stylesheet" href="{% static 'css/animate.css' %}">
      <!-- Icomoon Icon Fonts-->
      <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
      <!-- Bootstrap  -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
      <!-- Magnific Popup -->
      <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
      <!-- Flexslider  -->
      <link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
      <!-- Owl Carousel  -->
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
      <!-- Modernizr JS -->
      <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
      <!-- jQuery -->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <!-- jQuery Easing -->
      <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
      <!-- Bootstrap -->
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <!-- Waypoints -->
      <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
      <!-- Flexslider -->
      <script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
      <!-- Carousel -->
      <script src="{% static 'js/owl.carousel.min.js' %}"></script>
      <!-- Magnific Popup -->
      <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
      <script src="{% static 'js/magnific-popup-options.js' %}"></script>
      <!-- Counters -->
      <script src="{% static 'js/jquery.countTo.js' %}"></script>
      <!-- Main -->
      <script src="{% static 'js/main.js' %}"></script>
   </head>
   <body>
      <div class="col-sm-10 ">
         <nav class="fh5co-nav" role="navigation">
            <div class="container-wrap">
               <div class="top-menu">
                  <div class="row">
                     <div class="col-md-12 col-offset-0 text-center">
                        <div id="fh5co-logo"><a href="index.html">AD Concilio</a></div>
                     </div>
                     <div class="col-md-12 col-md-offset-0 text-center menu-1">
                        <ul>
                           <li class="active"><a href="{% url 'index' %}">Inicio</a></li>
                           <li><a href="sermons.html">Sermones</a></li>
                           <li class="has-dropdown">
                              <a href="news.html">Noticias</a>
                              <ul class="dropdown">
                                 <li><a href="#">Ministerio</a></li>
                                 <li><a href="#">Misioneros M&eacute;dicos</a></li>
                                 <li><a href="#">Vida en el campo</a></li>
                                 <li><a href="#">Obreros del Evengelio</a></li>
                              </ul>
                           </li>
                           <li><a href="{% url 'eventos' %}">Eventos</a></li>
                           <li><a href="about.html">Nosotros</a></li>
                           <li><a href="contact.html">Contactos</a></li>
                           <li><a href="#" class="donate">Donaciones</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </nav>
      </div>
      <div class="container-fluid">
         <div class="row">
            <div class="col-sm-2">
               {% block sidebar %}
               {% endblock %}
            </div>
            <div class="col-sm-10 ">
               {% block content %}{% endblock %}
            </div>
            <div class="col-sm-12">
               {% block footer %}
               <div class="container-wrap">
                  <footer id="fh5co-footer" role="contentinfo">
                     <div class="col-md-4 text-center">
                        <h3>Av. Juan Pablo Duarte 164, Santo Domingo</h3>
                     </div>
                     <div class="col-md-4 text-center">
                        <h2><a href="#">AD Concilio</a></h2>
                     </div>
                     <div class="col-md-4 text-center">
                        <p>
                        <ul class="fh5co-social-icons">
                           <li><a href="#"><i class="icon-twitter2"></i></a></li>
                           <li><a href="#"><i class="icon-facebook2"></i></a></li>
                           <li><a href="#"><i class="icon-dribbble2"></i></a></li>
                        </ul>
                        </p>
                     </div>
                     <div class="row copyright">
                        <div class="col-md-12 text-center">
                           <p>
                              <small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
                              <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
                           </p>
                        </div>
                     </div>
                  </footer>
               </div>
               <!-- END container-wrap -->
            </div>
            <div class="gototop js-top">
               <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
            </div>
            {% endblock %}
         </div>
      </div>
      </div>
   </body>
</html>