{% extends "base_generic.html" %}

{% block content %}
	
	<div class="fh5co-loader"></div>
<div id="page">
   
   <div class="container-wrap">
      <aside id="fh5co-hero">
         <div class="flexslider">
            <ul class="slides">
               <li style="background-image: url(images/img_bg_1.jpg);">
                  <div class="overlay"></div>
                  <div class="container-fluid">
                     <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                           <div class="slider-text">
                              <div class="slider-text-inner">
                                 <h1>Vivir &amp; Compartir el Evangelio de Dios</h1>
                                 <h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>
                                 <p><a class="btn btn-primary btn-demo popup-vimeo" href="https://vimeo.com/channels/staffpicks/93951774"> <i class="icon-play4"></i> Ver Video</a> <a class="btn btn-primary btn-learn">Unetenos aqu&iacute;! <i class="icon-arrow-right3"></i></a></p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </li>
               <li style="background-image: url(images/img_bg_2.jpg);">
                  <div class="overlay"></div>
                  <div class="container-fluid">
                     <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                           <div class="slider-text">
                              <div class="slider-text-inner">
                                 <h1>Anunciar al Mundo</h1>
                                 <h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>
                                 <p><a class="btn btn-primary btn-demo popup-vimeo" href="https://vimeo.com/channels/staffpicks/93951774"> <i class="icon-play4"></i> Ver Video</a> <a class="btn btn-primary btn-learn">Unetenos aqu&iacute;! <i class="icon-arrow-right3"></i></a></p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </li>
               <li style="background-image: url(images/img_bg_3.jpg);">
                  <div class="overlay"></div>
                  <div class="container-fluids">
                     <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                           <div class="slider-text">
                              <div class="slider-text-inner text-center">
                                 <h1>Conozca m&aacutes acerca de la persona de Jes&uacute;s</h1>
                                 <h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>
                                 <p><a class="btn btn-primary btn-demo popup-vimeo" href="https://vimeo.com/channels/staffpicks/93951774"> <i class="icon-play4"></i> Ver Video</a> <a class="btn btn-primary btn-learn">Unetenos aqu&iacute;! <i class="icon-arrow-right3"></i></a></p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
      </aside>
      <div id="fh5co-intro">
         <div class="row animate-box">
            <div class="col-md-12 col-md-offset-0 text-center">
               <h2>Vivir en la gracia del todo poderoso!</h2>
               <span>Abiertos de lunes a domingo</span>
            </div>
         </div>
      </div>
      <hr>
      <div id="fh5co-counter" class="fh5co-counters">
         <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center animate-box">
               <p>Tenemos hechos verdaderos tan lejos como detr&aacute;s de la palabra monta&ntilde;a, tan lejos como los paises de Vokalia y Consonantia, donde viven los textos ciegos.</p>
            </div>
         </div>
         <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
               <div class="row">
                  <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                     <span class="fh5co-counter js-counter" data-from="0" data-to="9452" data-speed="5000" data-refresh-interval="50"></span>
                     <span class="fh5co-counter-label">Miembros</span>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                     <span class="fh5co-counter js-counter" data-from="0" data-to="214" data-speed="5000" data-refresh-interval="50"></span>
                     <span class="fh5co-counter-label">Ministerios</span>
                  </div>
                  <div class="clearfix visible-sm-block visible-xs-block"></div>
                  <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                     <span class="fh5co-counter js-counter" data-from="0" data-to="433" data-speed="5000" data-refresh-interval="50"></span>
                     <span class="fh5co-counter-label">Clases</span>
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                     <span class="fh5co-counter js-counter" data-from="0" data-to="512" data-speed="5000" data-refresh-interval="50"></span>
                     <span class="fh5co-counter-label">Actividades</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="fh5co-services" class="fh5co-light-grey">
         <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
               <h2>Servicios</h2>
               <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4 animate-box">
               <div class="services">
                  {% load static %}
                  <a href="#" class="img-holder"><img class="img-responsive" src="{% static 'images/img-1.jpg' %}" alt="Free HTML5 Website Template by freehtml5.co"></a>
                  <div class="desc">
                     <h3><a href="#">Eventos en Vivo</a></h3>
                     <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                     <a href="#">Leer m&aacute;s <i class="icon-arrow-right3"></i></a>
                  </div>
               </div>
            </div>
            <div class="col-md-4 animate-box">
               <div class="services">
                  <a href="#" class="img-holder"><img class="img-responsive" src="{% static 'images/img-3.jpg' %}" alt="Free HTML5 Website Template by freehtml5.co"></a>
                  <div class="desc">
                     <h3><a href="#">Consejos B&iacute;blicos</a></h3>
                     <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                     <a href="#">Leer m&aacute;s <i class="icon-arrow-right3"></i></a>
                  </div>
               </div>
            </div>
            <div class="col-md-4 animate-box">
               <div class="services">
                  <a href="#" class="img-holder"><img class="img-responsive" src="{% static 'images/img-2.jpg' %}" alt="Free HTML5 Website Template by freehtml5.co"></a>
                  <div class="desc">
                     <h3><a href="#">Ayuda a los Ni&ntilde;os</a></h3>
                     <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                     <a href="#">Leer m&aacute;s <i class="icon-arrow-right3"></i></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="fh5co-sermon">
         <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
               <h2>Nuestro Selm&oacute;n</h2>
               <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4 text-center animate-box">
               <div class="sermon-entry">
                  <div class="sermon" style="background-image: url(images/sermon-1.jpg);">
                     <div class="play">
                        <a class="popup-vimeo" href="https://vimeo.com/channels/staffpicks/93951774"><i class="icon-play3"></i></a>
                     </div>
                  </div>
                  <h3>Ganancia de Almas</h3>
                  <span>Pastor Mateo</span>
               </div>
            </div>
            <div class="col-md-4 text-center animate-box">
               <div class="sermon-entry">
                  <div class="sermon" style="background-image: url(images/sermon-3.jpg);">
                     <div class="play">
                        <a class="popup-vimeo" href="https://vimeo.com/channels/staffpicks/93951774"><i class="icon-play3"></i></a>
                     </div>
                  </div>
                  <h3>Mensajes de Dios</h3>
                  <span>Pastor Mateo</span>
               </div>
            </div>
            <div class="col-md-4 text-center animate-box">
               <div class="sermon-entry">
                  <div class="sermon" style="background-image: url(images/sermon-2.jpg);">
                     <div class="play">
                        <a class="popup-vimeo" href="https://vimeo.com/channels/staffpicks/93951774"><i class="icon-play3"></i></a>
                     </div>
                  </div>
                  <h3>Nuestro Mundo Hoy</h3>
                  <span>Pastor Mateo</span>
               </div>
            </div>
         </div>
      </div>
      <div id="fh5co-bible-verse">
         <div class="overlay"></div>
         <div class="row">
            <div class="col-md-10 col-md-offset-1">
               <div class="row animate-box">
                  <div class="owl-carousel owl-carousel-fullwidth">
                     <div class="item">
                        <div class="bible-verse-slide active text-center">
                           <blockquote>
                              <p>&ldquo;Porque tanto am&oacute; Dios al mundo, que di&oacute; a su Hijo unig&eacute;nito, para que todo aquel que en &eacute;l cree, no se pierda, sino que tenga vida eterna.&rdquo;</p>
                              <span>Juan 3:16</span>
                           </blockquote>
                        </div>
                     </div>
                     <div class="item">
                        <div class="bible-verse-slide active text-center">
                           <blockquote>
                              <p>&ldquo;Jehov&aacute; es mi fortaleza y mi escudo; mi coraz&oacute;n confi&oacute; en &eacute;l, y yo soy ayudado; por eso mi coraz&oacute;n se regocija mucho; y con mi canci&oacute;n lo alabar&eacute;.&rdquo;</p>
                              <span>Salmo 28:7</span>
                           </blockquote>
                        </div>
                     </div>
                     <div class="item">
                        <div class="bible-verse-slide active text-center">
                           <blockquote>
                              <p>&ldquo;Y hemos conocido y creído el amor que Dios tiene para nosotros. Dios es amor; y el que permanece en amor, permanece en Dios, y Dios en &eacute;l.&rdquo;</p>
                              <span>1 Juan 4:16</span>
                           </blockquote>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="fh5co-events">
         <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
               <h2>Nuestros Eventos</h2>
               <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4 animate-box">
               <div class="events-entry">
                  <span class="date">Marzo 10, 2017</span>
                  <h3><a href="#">Mensajes de Dios</a></h3>
                  <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
                  <a href="#">Leer m&aacute;s <i class="icon-arrow-right3"></i></a>
               </div>
            </div>
            <div class="col-md-4 animate-box">
               <div class="events-entry">
                  <span class="date">Marzo 20, 2017</span>
                  <h3><a href="#">Mensajes de Dios</a></h3>
                  <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
                  <a href="#">Leer m&aacute;s <i class="icon-arrow-right3"></i></a>
               </div>
            </div>
            <div class="col-md-4 animate-box">
               <div class="events-entry">
                  <span class="date">Marzo 30, 2017</span>
                  <h3><a href="#">Mensajes de Dios</a></h3>
                  <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
                  <a href="#">Leer m&aacute;s <i class="icon-arrow-right3"></i></a>
               </div>
            </div>
         </div>
      </div>
      <div id="fh5co-news" class="fh5co-light-grey">
         <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
               <h2>Nuestras Noticias</h2>
               <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
         </div>
         <div class="row">
            <div class="col-md-3 animate-box">
               <div class="news">
                  <a href="#" class="img-holder"><img class="img-responsive" src="{% static 'images/img-1.jpg' %}" alt="Free HTML5 Website Template by freehtml5.co"></a>
                  <div class="desc">
                     <span class="date">Marzo 30, 2017</span>
                     <h3><a href="#">Noticias en Vivo</a></h3>
                     <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                     <a href="#">Leer m&aacute;s <i class="icon-arrow-right3"></i></a>
                  </div>
               </div>
            </div>
            <div class="col-md-3 animate-box">
               <div class="news">
                  <a href="#" class="img-holder"><img class="img-responsive" src="{% static 'images/img-3.jpg' %}" alt="Free HTML5 Website Template by freehtml5.co"></a>
                  <div class="desc">
                     <span class="date">Marzo 30, 2017</span>
                     <h3><a href="#">Consejos B&iacute;blicos</a></h3>
                     <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                     <a href="#">Leer m&aacute;s <i class="icon-arrow-right3"></i></a>
                  </div>
               </div>
            </div>
            <div class="col-md-3 animate-box">
               <div class="news">
                  <a href="#" class="img-holder"><img class="img-responsive" src="{% static 'images/img-2.jpg' %}" alt="Free HTML5 Website Template by freehtml5.co"></a>
                  <div class="desc">
                     <span class="date">Marzo 30, 2017</span>
                     <h3><a href="#">Ayuda a los ni&ntildeos</a></h3>
                     <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                     <a href="#">Leer m&aacute;s <i class="icon-arrow-right3"></i></a>
                  </div>
               </div>
            </div>
            <div class="col-md-3 animate-box">
               <div class="news">
                  <a href="#" class="img-holder"><img class="img-responsive" src="{% static 'images/img-4.jpg' %}" alt="Free HTML5 Website Template by freehtml5.co"></a>
                  <div class="desc">
                     <span class="date">Marzo 30, 2017</span>
                     <h3><a href="#">Ayuda a los ni&ntildeos</a></h3>
                     <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                     <a href="#">Leer m&aacute;s <i class="icon-arrow-right3"></i></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- END container-wrap -->
   

{% endblock %}