{% extends "base_generic.html" %}

{% block content %}

<div id="fh5co-events">
   <div class="row animate-box">
      <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
         <h2>Nuestros Eventos</h2>
         <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
      </div>
   </div>
   <div class="row">
      <div class="col-md-4 animate-box">
         <div class="events-entry">
            <span class="date">Marzo 10, 2017</span>
            <h3><a href="#">Mensajes de Dios</a></h3>
            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
            <a href="#">Leer m&aacute;s <i class="icon-arrow-right3"></i></a>
         </div>
      </div>
      <div class="col-md-4 animate-box">
         <div class="events-entry">
            <span class="date">Marzo 20, 2017</span>
            <h3><a href="#">Mensajes de Dios</a></h3>
            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
            <a href="#">Leer m&aacute;s <i class="icon-arrow-right3"></i></a>
         </div>
      </div>
      <div class="col-md-4 animate-box">
         <div class="events-entry">
            <span class="date">Marzo 30, 2017</span>
            <h3><a href="#">Mensajes de Dios</a></h3>
            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
            <a href="#">Leer m&aacute;s <i class="icon-arrow-right3"></i></a>
         </div>
      </div>
   </div>
</div>

<h1>Eventos</h1>

    {% if evento_list %}
    <ul>

      {% for evento in evento_list %}
      <li>
        <a href="{{ evento.get_absolute_url }}">{{ evento.nombre }}</a> ({{book.descripcion}})
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>No hay eventos disponibles.</p>
    {% endif %}      

{% endblock %}